<div class="row mt-5"></div>
<div class="row mt-5"></div>

<div class="row mt-5">
  <div class="card mt-5">
    <div class="card-header text-sm-center"><h3>Listes Des Opérations</h3> </div>
    <div class="card-body justify" >
      <div class="row ">
        <div class="col-md-4 text-center">
          <button routerLink="/operation/versement" class="btn btn-success btn-lg ">Versement</button>
        </div>
        <div class="col-md-4 text-center">
          <button  routerLink="/operation/retrait" class="btn btn-warning btn-lg ">Retrait</button>
        </div>

        <div class="col-md-4 text-center">
          <button routerLink="/operation/virement" class="btn btn-primary btn-lg   " >Virement</button>

        </div>


      </div>

    </div>
  </div>

</div>


