<div class="row mt-5" >
    <div class="col-md-6">
     <a class="btn btn-success" routerLink="/conseiller/add">
       <i class="fa fa-plus" > Nouveau Conseiller </i>
     </a>
    </div>
  </div>

  <div class="card mt-5">
      <div class="card-body">
         <h4 class="card-title">Listes des Conseillers </h4>
          <table class="table table-striped">
              <thead >
                  <tr>
                      <th>NOM </th>
                      <th>CLIENTS</th>
                      <th>DETAILS</th>
                      <th>MODIFICATION</th>
                      <th>SUPPRESSION</th>

                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let c of conseiller">
                          <td scope="row">{{c.nom}}  {{c.prenom}}</td>
                          <td>
                            <a routerLink="/clients/clientIdConseiller/{{c.id}}" class="btn btn-info"><i class="fa fa-info" ></i></a>
                        </td>

                          <td>
                              <a routerLink="/conseiller/detail/{{c.id}}" class="btn btn-info"><i class="fa fa-info" ></i></a>
                          </td>
                          <td>
                              <a routerLink="/conseiller/edit/{{c.id}}"  class="btn btn-warning"><i class="fa fa-pencil" ></i></a>
                          </td>
                          <td>
                            <a (click)="delete(c.id)" class="btn btn-danger"><i class="fa fa-trash" ></i></a>
                        </td>
                      </tr>

                  </tbody>
          </table>
      </div>
  </div>
