<div class="row mt-5" >
  <div class="col-md-6">
   <a class="btn btn-success" routerLink="/clients/add">
     <i class="fa fa-plus" > Nouveau-Client </i>
   </a>
  </div>
</div>

<div class="card mt-5 " *ngIf="this.isAdmin()" >
    <div class="card-body ">
       <h4 class="card-title">Listes des Clients</h4>
        <table class="table table-striped" >
            <thead >
                <tr>
                    <th>NOM </th>
                    <th>ADRESSE</th>
                  <th>COMPTE-EXIST</th>
                  <th>DETAIL-COMPTE</th>
                    <th>CONSEILLER</th>
                    <th>DETAIL-CLIENT</th>
                    <th>MODIFICATION</th>

                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of client">
                        <td scope="row">{{c.nom}}  {{c.prenom}}</td>
                        <td> {{c.adresse}}</td>
                      <td> </td>

                      <td>
                            <a routerLink="/compte/detail/{{c.id}}" class="btn btn-success"><i class="fa fa-info" ></i></a>
                        </td>
                        <td>Anas</td>
                        <td>
                            <a href="" class="btn btn-info"><i class="fa fa-info" ></i></a>
                        </td>
                        <td>
                            <a href="" class="btn btn-warning"><i class="fa fa-pencil" ></i></a>

                        </td>
                    </tr>

                </tbody>
        </table>

    </div>
</div>
<div class="card mt-5 " *ngIf="!isAdmin()" >
  <div class="card-body ">
    <h4 class="card-title">Listes des Clients</h4>
    <table class="table table-striped" >
      <thead >
      <tr>
        <th>NOM </th>
        <th>ADRESSE</th>
        <th>COMPTE-EXIST</th>
        <th>DETAIL-COMPTE</th>
        <th>CONSEILLER</th>
        <th>DETAIL-CLIENT</th>
        <th>MODIFICATION</th>

      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let c of client1">
        <td scope="row">{{c.nom}}  {{c.prenom}}</td>
        <td> {{c.adresse}}</td>
        <td> </td>

        <td>
          <a routerLink="/compte/detail/{{c.id}}" class="btn btn-success"><i class="fa fa-info" ></i></a>
        </td>
        <td>Anas</td>
        <td>
          <a href="" class="btn btn-info"><i class="fa fa-info" ></i></a>
        </td>
        <td>
          <a href="" class="btn btn-warning"><i class="fa fa-pencil" ></i></a>

        </td>
      </tr>

      </tbody>
    </table>

  </div>
</div>
