<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title">Title Clients</h4>
        <table class="table table-striped">
            <thead >
                <tr>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Compte</th>
                    <th>Conseiller</th>
                    <th>Detail</th>
                    <th>Update</th>

                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Mehdi Lakhlifi</td>
                        <td> casablanca</td>
                        <td>
                            <a href="" class="btn btn-success"><i class="fa fa-info" ></i></a>
                        </td>
                        <td>Anas</td>
                        <td>
                            <a href="" class="btn btn-info"><i class="fa fa-info" ></i></a>
                        </td>
                        <td>
                            <a href="" class="btn btn-warning"><i class="fa fa-pencil" ></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Mehdi Lakhlifi</td>
                        <td> casablanca</td>
                        <td>
                            <a href="" class="btn btn-success"><i class="fa fa-info" ></i></a>
                        </td>
                        <td>Anas</td>
                        <td>
                            <a href="" class="btn btn-info"><i class="fa fa-info" ></i></a>
                        </td>
                        <td>
                            <a href="" class="btn btn-warning"><i class="fa fa-pencil" ></i></a>
                        </td>
                    </tr>
                   
                </tbody>
        </table>
    </div>
</div>