
<div class="row mt-5">
  <div class="col-md-6 offset-3">
    <a routerLink="/compte"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Revenir En Arrière</a>
  </div>

</div>
<div class="card col-md-6 offset-3 mt-4">
  <div class="card-body">
    <h4 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>Modification-Compte-Epargne</h4>
    <form (ngSubmit)="onSubmit()" #compteForm="ngForm">
      <div class="form-group">
        <label for="numeroCompte">numeroCompte</label>
        <input type="number" disabled class="form-control" id="numeroCompte"  name="numeroCompte" [(ngModel)]="compte.numeroCompte" required #numeroCompte="ngModel" placeholder="numeroCompte" >
      </div>

      <div class="form-group">
        <label for="solde">solde</label>
        <input type="number" step="any" class="form-control" id="solde" name="solde" [(ngModel)]="compte.solde" required #solde="ngModel"  placeholder="Solde">
      </div>
      <div class="form-group">
        <label for="dateCreation">dateCreation</label>
        <input type="date" class="form-control" [(ngModel)]="compte.dateCreation" required #dateCreation="ngModel" name="dateCreation" id="dateCreation" >
      </div>

      <div class="form-group">
        <label for="taux">Taux</label>
        <input type="number" step="any" class="form-control" name="taux" id="taux" [(ngModel)]="compte.taux" required #taux="ngModel"  placeholder="taux">
      </div>




      <button type="submit" class="btn btn-primary" [disabled]="!compteForm.form.valid">Modifier</button>
    </form>
  </div>
</div>
