<div class="row">
  <div class="col-md-12">
    <a routerLink="/" ><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back to dashbord</a>
  </div>
  </div>
<div class="card">
  <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" >Id: <strong>{{cons.id}}</strong></li>
        <li class="list-group-item" >Nom: <strong>{{cons.nom}}</strong></li>
        <li class="list-group-item" >Prenom: <strong>{{cons.prenom}}</strong></li>
        <li class="list-group-item" >Telephone: <strong>{{cons.telephone}}</strong></li>
        <li class="list-group-item" >Email: <strong>{{cons.email}}</strong></li>
        <li class="list-group-item" >Password: <strong>{{cons.password}}</strong></li>

      </ul>
    </div>


</div>


